<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <title>DH Fitness</title>
    </head>

    <body> 

        <input type="checkbox" checked id="check">

        <header>
            
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>

            <div class="left_area">
                <h3>DH <span>Fitness</span></h3>
            </div>

            <div class="right_area">
                <span class="right_area_profile" onclick="toggle_right_area_menu();"></span>
                <span>Usuário DH</span>
            </div>

            <div class="right_area_menu">
                <h3>Plano Smart<br><span>Matrícula: 1945781</span></h3>
                <ul>
                    <li><i class="far fa-user-circle"></i><a href="#">Editar Perfil</a></li>
                    <li><i class="fas fa-sign-out-alt"></i>><a href="#">Sair</a></li>
                </ul>
            </div>

        </header>            

            <!--Menu Lateral -->
        <%- include('./partials/sidebar'); %>

        <!-- Conteúdo -->
        <section class="content"></section>
            

        </section>

        <!-- Sobre -->
        <section class="about" id="about">
            <div class="about_text">
                <h1>A DH Fitness</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt?</p>
            </div>
            
        </section>

        <!-- Unidades -->
        <section class="unity" id="unity">

        </section>

        <!-- Planos -->
        <%- include('./partials/plans'); %>
        

        <!-- Rodapé -->
        <%- include('./partials/footer'); %> 


        <script>
            function popupToggle() {
                const popup = document.getElementById('popup');
                popup.classList.toggle('active_popup');
            }
        </script>
        
    </body>

</html>
